<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.5/phpunit.xsd"
    colors="true"
    verbose="true"
    bootstrap="./vendor/autoload.php"
    cacheResultFile=".phpunit.cache/test-results"
    failOnRisky="true"
    failOnWarning="true"
    stopOnFailure="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
        <ini name="date.timezone" value="UTC" />
    </php>

    <testsuites>
        <testsuite name="Typing library Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./idea</directory>
            <directory>./bin</directory>
            <directory>./build</directory>
            <directory>./docs</directory>
            <directory>./vendor</directory>
            <directory>./tests</directory>
            <file>.php-cs-fixer.dist.php</file>
            <file>RoboFile.php</file>
        </exclude>
        <report>
            <clover outputFile="build/phpunit/logs/clover.xml"/>
            <xml outputDirectory="build/phpunit/logs/phpunit.xml" />
            <html outputDirectory="build/phpunit/report" lowUpperBound="55" />
            <text outputFile="php://stdout" showOnlySummary="true" />
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/phpunit/logs/junit.xml" />
    </logging>
</phpunit>
